<div id="body">
    <div id="header">
        <h1>Weather App</h1>

        <form clas="search">
            <input type="text" name="searchkey" value="{{searchkey}}" placeholder="Search location ...">
            <input type="submit" value="search">
        </form>
        {{#if searchkey}}
        <p>Search location for : <b>{{searchkey}}</b></p>
        {{/if}}

        {{#if error}}
        <p>ERROR : <b>{{error}}</b></p>
        {{/if}}
        {{#if body}}
        <ul class="location">
            {{#each body}}
            <li><a href="/forecast/{{this.woeid}}">{{this.location}}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>